body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    margin: 0;
}

a {
    color: rgb(38, 144, 212);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-image {
    background-image: url("../img/background-image.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(0, 0, 0, .5);
}

.relative {
    position: relative;
}

.text {
    position: absolute;
    top: 55px;
    width: 480px;
    left: 512px;
    opacity: .9;
}


a:hover {
    text-decoration: none;
    box-shadow: 0 0 20px 1px #4B4A54;
    transition: 0.6s all;
}

.btn-1 {
    width: 100px;
    height: 30px;
    background-color: black;
    padding: 15px;
    color: white;
    border-radius: 25px;
}

.btn-2 , .btn-3 {
    background-color: black;
    padding: 10px 15px 10px 15px;
    color: white;
    border-radius: 25px;
}

.btn-3 {
    background-color: blue;
}

.btn-3:hover {
    box-shadow: 0 0 10px 3px blue;
}

.menu {
    position: fixed;
    left: 0;
    right: 0;
    transition: .6s all;
    width: 100%;
    z-index: 100;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    border-right: 1px dotted blue;
    padding-right: 10px;
}

nav ul li:nth-last-child(1) {
    border-right: none;
}

nav ul li:nth-last-child() {
    margin-right: none;
}

.template {
    color: red;
}

.logo {
    font-size: 28px;
}

.border-100 {
    border-radius: 100%;
}

.box:hover {
    box-shadow: 0 0 10px 5px green;
    transition: 0.6s all;
}

nav ul li a:hover {
    box-shadow: none;
}

nav ul li a:focus {
    background-color: #10ff00;
    padding: 7px;
    color: #004D73;
    transition: .6s all
}

.overflow-hidden {
    overflow: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
}