.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.text-gray {
    color: #aaaaaa;
}

.text-cyan {
    color: rgb(38, 144, 212);
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: rgb(51, 51, 51);
}

.bg-cyan {
    background-color: rgb(38, 144, 212);
}

.bg-violett {
    background-image: linear-gradient(to right top, #ffffff, #e5e3f0, #cac9e0, #aeafd2, #9296c3);
}

.bg-light-gray {
    background-color: #f1f1f1;
}